.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 1rem;
}
.row {
  display: flex;
  margin: 0;
}
.col-5 {
  width: 41.66%;
}
.col-2 {
  width: 16.66;
}

.container {
  width: 100%;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid black; */
}
.faq-accordion {
  justify-content: space-between;
}
.left-container,
.right-container {
  width: 40%;
}
.left-container,
.right-container,
.controls-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkbox {
  /* border: 1px solid black; */
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  /* background-color: beige; */
}
.checkbox.false {
  background-color: beige;
}
.checkbox.true {
  background-color: black !important;
  color: white;
}
.checkbox:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
.left-container, .right-container, .controls-container {
  background-color: thistle;
  margin: 0 2px;
  border-radius: 10px;
}


.item {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
}

.item-exit {
  transform: translateX(100%);
  opacity: 0;
}
.item-exit-right {
  transform: translateX(-100%);
  opacity: 0;
}

.item-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.item-visible {
  transform: translateX(0);
  opacity: 1;
}